/* .template_header {
  position: relative;
  color: purple;
}

.template_header button {
  position: absolute;
  right: 0;
  color: red;
  background-color: red;
} */

/* .template_button {
  color: purple;
  background-color: red;
  border: none;
} */
