.overlay {
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.692);
}

.modal {
  position: absolute;
  font-size: 3rem;
  left: 50%;
  transform: translate(-50%, -50%);
  top: 50%;
  background-color: rgb(238, 232, 232);
  width: 90%;
  max-width: 50rem;
  /* height: 80vh; */
  /* max-height: 60rem; */
  padding: 4rem 4rem;
  border-radius: 10px;
}

.modal h4 {
  margin: 1rem;
}

.text_area {
  width: 90%;
  height: 10rem;
}

.modal_instructions {
  /* list-style: square; */
  max-width: 70%;
  margin: 2rem auto;
  /* display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start; */
}

.modal_instructions li {
  list-style: square;
  font-size: 1.7rem;
  max-width: 40rem;
  text-align: left;
}

.variable {
  color: rgb(24, 192, 192);
  font-weight: 500;
}

.btn_modal {
  background-color: rgb(7, 128, 128);
  padding: 1rem 2rem;
  border-radius: 30px;
  border: none;
  font-size: 1.5rem;
  font-weight: 600;
  text-transform: uppercase;
  color: #fff;
  letter-spacing: 5px;
}

.btn-modal:hover {
  transform: translateY(-20px);
}
